.footer{
	/* margin-top:-90px */
}
.footer_innerWrap {
	background-color: var(--color-brown);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 30px;
}
.footer__logo {
	height: 130px;
}
