.header {
	padding: 2rem 1rem 1rem;
	border-bottom: 1px solid #eee;
	box-shadow: 0px 1px 2px 0px #eee;
}
.header h1 {
	padding: 0;
	margin: 0;
}

p.cart-empty {
	color: #333;
}
.cart-container {
	padding: 1rem;
}

ul.cart-items {
	list-style: none;
	margin: 0;
	padding: 1rem 0;
	max-height: 20rem;
	overflow: auto;
	display: grid;
	row-gap: 10px;
}
.cart-items li {
	height: 65px;
}

.total {
	padding: 1rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;
	font-size: 1.5rem;
	margin: 1rem 0;
}

.actions {
	padding: 1rem 0;
	text-align: right;
}

.actions button {
	font: inherit;
	cursor: pointer;
	background-color: transparent;
	border: 1px solid var(--color-purple);
	padding: 0.5rem 2rem;
	border-radius: 25px;
	margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
	background-color: var(--color-purple);
	border-color: var(--color-purple);
	color: white;
}

.actions .button--alt {
	color: var(--color-purple);
}

.actions .button {
	background-color: var(--color-purple);
	color: white;
}
