.productsList {
	/* max-width: 67rem; */
	margin: 2rem auto;
	animation: products-appear 1s ease-out forwards;
}

.productsList ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.cards {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	grid-gap: 2rem;
	gap: 2rem;
}

@keyframes products-appear {
	from {
		opacity: 0;
		transform: translateY(3rem);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}
