.purpleWrap {
	background: var(--color-purple);
	min-height: 400px;
	overflow: hidden;
}

.storyContactUs {
	background-color: #eee;
}
.contactUsWrap {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}
.imgContainer {
	width: 90%;
}
.imgContainer img {
	width: 100%;
	object-fit: contain;
	border: 8px solid white;
	box-sizing: border-box;
	box-shadow: 0px 0px 6px #c7c7c7;
}
.formContactUsWrap{
	display: flex;
	justify-content: center;
}

.formContactUs {
	width: 400px;
}
.formContactUs .actions {
	margin-top: 20px;
}
.formContactUs .actions input[type="submit"] {
	width: 100%;
}

.leftSide {
	width: 60%;
	max-width: 700px;
}
.rightSide {
	width: 40%;
}

.detailsWrap {
	display: flex;
	gap: 10px;
	align-items: center;
	margin-top: 50px;
}
.imgContainerDetails {
	width: 30px;
}
.imgContainerDetails img {
	width: 100%;
}
