.headerBar {
	/* background: #e4d7c6; */
	/* border-bottom: solid 5px #7d6a4f; */
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* padding: 2px; */
	background: #fff;
	top: 0;
	z-index: 9999;
	position: fixed;
	width: 100%;
	height: 60px;
}
.centerWrap {
	display: flex;
	align-items: center;
}
.leftWrap {
	display: flex;
	align-items: center;
	height: 100%;
}

.logoWrap{
	width: auto;
	height: 80%;
	margin: 0 6px;
}
.logoWrap img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.rightWrap {
	display: flex;
	align-items: center;
	height: 100%;
	display: flex;
	flex-direction: row;
	gap: 20px;
	justify-content: center;
	padding-right:10px;
}

.rightWrap a {
	height: 82%;
	display: flex;
	align-items: center;
	border-radius: 25px;
	transition: ease-in 100ms;
	padding: 10px;
    box-sizing: border-box;
}
.rightWrap a:hover{
	background: #eee;
}
.rightWrap a svg {
	width: 100%;
	height: 100%;
	fill: var(--color-grey-cyan);
	stroke: var(--color-grey-cyan);
}
.ShoppingCartWrap {
	margin: 0 0 0 10rem;
}

.bigLogo {
	position: sticky;
}

.spacer {
	width: 100%;
	height: 60px;
}
