body {
	margin: 0;
	font-family: Oxygen, 'Segoe UI', Roboto, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.stop-scrolling {
	height: 100%;
	overflow: hidden;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
