.wrap {
	display: flex;
	justify-content: flex-start;
	padding: 20px 0;
}
h1.title {
	font-size: 40px;
	line-height: 1.7;
}
p.textContent {
	font-size: 21px;
	padding: 0 5%;
	line-height: 1.7;
}
.image {
	max-width: 100%;
	max-height: 500px;
}
@media (max-width: 1800px) {
	h1.title {
		font-size: 30px;
	}
	p.textContent {
		font-size: 20px;
	}
}
@media (max-width: 1500px) {
	h1.title {
		font-size: 29px;
	}
	p.textContent {
		font-size: 19px;
	}
}
@media (max-width: 1300px) {
	h1.title {
		font-size: 28px;
	}
	p.textContent {
		font-size: 17px;
	}
	.image {
		max-width: 100%;
		max-height: 350px;
	}
}
@media (max-width: 1100px) {
}
@media (max-width: 900px) {
}
