.nav {
	display: flex;
	justify-content: flex-start;
}
.navbarItem {
	display: block;
	width: fit-content;
	cursor: pointer;
	font-weight: bold;
	color: #333;
	margin: 0 10px;
}

@keyframes navbarItemHover {
	from {
		background: #e4d7c6;
	}
	to {
		background: #f7ecde;
	}
}

.navbarItem:hover {
	background: #f7ecde;
	animation: 1000ms;
	animation-name: navbarItemHover;
	animation-duration: 500ms;
}

.navbarItem a,
.navbarItem a:active,
.navbarItem a::after {
	padding: 5px 10px;
	display: block;
	width: fit-content;
	cursor: pointer;
	font-weight: bold;
	color: #333;
	text-decoration: none;
}
.navbarItem a.active {
	border-bottom: #a54186 3px solid;
}
